[submodule "src/particle_filter"]
	path = src/particle_filter
	url = https://github.com/CL2-UWaterloo/particle_filter.git
[submodule "src/f1tenth_system"]
	path = src/f1tenth_system
	url = https://github.com/f1tenth/f1tenth_system.git
[submodule "src/waypoint_logger"]
	path = src/waypoint_logger
	url = https://github.com/marudhu2004/waypoint_logger.git
